<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>RegistrationChecker</servlet-name>
        <servlet-class>controller.RegistrationChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginChecker</servlet-name>
        <servlet-class>controller.LoginChecker</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Addbook</servlet-name>
        <servlet-class>controller.Addbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Allbooks</servlet-name>
        <servlet-class>controller.AllBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit_BookServlet</servlet-name>
        <servlet-class>controller.Edit_BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>controller.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentBookServlet</servlet-name>
        <servlet-class>controller.RecentBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveBookCart</servlet-name>
        <servlet-class>controller.RemoveBookCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>controller.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateChecker</servlet-name>
        <servlet-class>controller.UpdateChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationChecker</servlet-name>
        <url-pattern>/RegistrationChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginChecker</servlet-name>
        <url-pattern>/LoginChecker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Addbook</servlet-name>
        <url-pattern>/Addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Allbooks</servlet-name>
        <url-pattern>/Allbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit_BookServlet</servlet-name>
        <url-pattern>/Edit_BookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentBookServlet</servlet-name>
        <url-pattern>/RecentBookServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookCart</servlet-name>
        <url-pattern>/RemoveBookCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateChecker</servlet-name>
        <url-pattern>/UpdateChecker</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
